<p>Bem vindo ao acampamento adventista</p>

<%= link_to('Musicas', musics_path) %><br/>
<%= link_to('Informações', infos_path) %><br/>
<%= link_to('Roteiros', scripts_path) %><br/>
<%= link_to('Playlist de videos', link_playlist_videos_path) %><br/>
<%= link_to('Contatos', contacts_path) %>