<%= form_with(model: link_playlist_video, local: true) do |form| %>
  <% if link_playlist_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link_playlist_video.errors.count, "error") %> prohibited this link_playlist_video from being saved:</h2>

      <ul>
      <% link_playlist_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
